* {
    box-sizing: border-box;
  }
body {
margin: 0;
    padding: 0;
    
}
  .upper-class {
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f8;
    
  }

  /* Header */
  .header {
    background: #dce4e8;
    display: flex;
    align-items: center;
    padding: 10px 30px;
  }
  .main-content-wraper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }

  .form-section {
    width: 60%;
    padding: 40px 60px;
    background: #dde5e8;
  }

  .image-section  {
    width: 40%;
    background-size: cover;
    background-position: center;
    height: inherit ;
  }
  .image-section img {
    width: 100%;
    height: 100%;
  }

  .form-section h2 {
    color: #1f3a5f;
    margin-bottom: 30px;
  }

  .form-class-for-register {
    width: 100%;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }

  .form-group {
    flex: 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
  }

  .form-group label {
    font-weight: bold;
    color: #2a3e58;
    margin-bottom:6px ;
  }

  .form-group input,
  .form-group select {
    padding: 10px;
    font-size: 15px;
    border: none;
    background: #fdf8f4;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .submit-btn {
    margin-top: 30px;
  }

  .submit-btn button {
    background: #1f3a5f;
    color: #fce3ab;
    padding: 12px 40px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  /* Responsive */
  @media (max-width: 992px) {
    .main {
      flex-direction: column;
    }

    .form-section, .image-section {
      width: 100%;
    }

    .image-section {
      height: 300px;
    }
  }

  @media (max-width: 600px) {
    .form-section {
      padding: 30px 20px;
    }

    .form-row {
      flex-direction: column;
    }
  }